{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Home</h1>
<div id="react_container"></div>

<div id="root"></div>

{% endblock %}

{% block extra_javascript %}
{% load babel_transpiling %}

<!-- React -->
<script src="https://code.jquery.com/jquery-3.6.2.min.js"
  integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>



<script>
  {% transpiling %}
    const domContainer = document.getElementById('react_container')
    ReactDOM.render(<App/>, document.querySelector('#root'))
  {% endtranspiling %}
</script>

{% endblock %}